# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA #
#################
.idea/
*.iml
*.iws

# Java compiled #
#################
*.class

out/
server_jar/
client_jar/

